
/*#region index.html*/
#home
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
/*#region Showcase*/
.portrait
{
    position: relative;
    width: 25%;
    opacity: 0;
    animation-name: portrait;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    transition-timing-function: linear;
}
@keyframes portrait
{
    0%      {left: -500px; opacity: 0; transform: rotateZ(-90deg);}
    100%    {left: 0px; opacity: 1; transform: rotateZ(0deg);}
}
.portrait img
{
    width: 100%;
    height: auto;
    min-width: 250px;
}
.text-field
{   
    position: relative; 
    flex-basis: 45%;
    height: fit-content;

    opacity: 0;
    animation: text-field;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes text-field
{
    0%      {right: -500px; opacity: 0;}
    100%    {right: 0px; opacity: 1;}
}
.text-field a
{
    padding: 10px;
    color: var(--gray);
    font-size: 20px;
    text-decoration: none;
    background-color: var(--mint);
    opacity: 0;
    animation: hire-me;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    transition-property: border-radius;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
@keyframes hire-me
{
    0%      {opacity: 0}
    100%    {opacity: 1}
}
.text-field a:hover
{
    border-radius: 95%;
}
/*#endregion*/

/*#region Aside*/
.aside
{
    z-index: 1;
    height: fit-content;
    align-self: center;
    display: flex;
    flex-direction: column;
    border: var(--mint) 2px solid;
    border-radius: 30px;
    opacity: 0;
    animation: aside;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes aside
{ 
    0%      {opacity: 0}
    100%    {opacity: 1}
}
.aside ul
{
    padding: 10px;
    list-style: none;
}
/*#endregion*/

/*#region Gallery*/
#gallery
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
    scroll-snap-align: start;
}

#instag-photo
{
    width: 60%;
    height: 76vh;
}
#gallery h3
{
    align-self: center;
    color: var(--mint);
    padding: 0.5% 0;
}
/*#endregion*/

/*#endregion*/

/*#region experience.html & project.html*/

.container .item
{
    padding: 15px 0px;
    border: var(--mint) 3px solid;
}
.item img
{
    width: 75%;
}

/*#endregion*/

/*#region skills.html & contact.html*/
.info-box
{
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
    border: var(--mint) 2px solid;
    width: 40%;
    min-width: fit-content;
    margin-top: 15px;
    margin-bottom: 50px;
}
.info-box ul
{
    padding: 0;
    list-style: none;
}
.info-box li
{
    margin-left: 25px;
    min-width: 150px;
}
.name ul
{
    font-weight: bold;
    list-style: unset;
}
.detail, .detail a
{
    color: var(--mint);
}
/*#endregion*/