/*#region Layout & Variable*/
:root
{
    --mint: #15d8b7;
    --white: #f0f0f0;
    --gray: #5e5e5e;
}
body
{
    background-color: var(--gray);
    color: var(--white);
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}
/*#endregion*/

/*#region Main Header*/
#main-header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: var(--mint) 3px solid;
}
#main-header a
{
    text-align: center;
    color: var(--grey);
}

/*#region Page Icon*/
#icon
{
    padding: 0 75px 0 100px;
    display: flex;
    flex-direction: row;
}
#icon a
{
    padding: 0.2em;
    margin: auto;
    font-size: 55px;
    border: var(--mint) 10px solid;
    font-weight: bold;
    color: var(--mint);
}
#icon h1
{
    padding-left: 2px;
}
/*#endregion*/

/*#region Navigation Bar*/
#nav
{
    margin-left: auto;
    margin-right: 5%;
    padding: 0;
}
#nav ul
{
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}
#nav li
{
    width: 130px;
    padding: 0.5em;
}
#nav .special
{
    color: var(--mint);
    font-weight: bolder;
    font-size: 20px;
}
#nav a:hover
{
    font-weight: unset;
    background-color: var(--mint);
    color: var(--gray);
}
/*#endregion*/
/*#endregion*/

/*#region Body*/
.main-body
{
    padding: 35px 50px;
}
a, a::after
{
    color: var(--gray);
    text-decoration: none;
}
.highlight
{
    color: var(--mint);
    font-weight: bold;
}
h1, h2, h3, h4, h5
{
    margin: 0;
}

/*#endregion*/

/*#region Footer*/
#main-footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: var(--mint);
    color: var(--gray);
    font-size: 15px;
    font-style: italic;
    text-align: right;
    border: var(--gray) 1px solid;
}
#main-footer p
{
    padding-right: 50px;
    margin: 5px;
}
/*#endregion*/

/*#region index.html*/
/*#region Showcase*/
#showcase
{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.portrait
{
    padding: 1.5% 5%;
    width: 25%;
}
.portrait img
{
    width: 100%;
    height: auto;
    min-width: 250px;
}
.text-field
{
    margin-top: 5%;
    margin-left: 10%;
    min-width: 500px;
    flex-basis: 45%;
}
.text-field a
{
    padding: 10px;
    color: var(--grey);
    font-size: 20px;
    text-decoration: none;
    background-color: var(--mint);
}
/*#endregion*/

/*#region Aside*/
.aside
{
    display: flex;
    flex-direction: column;
    border: var(--mint) 2px solid;
    border-radius: 30px;
    position: fixed;
    right: 1%;
    top: 35%;
}
.aside ul
{
    padding: 10px;
    list-style: none;
}
/*#endregion*/
/*#endregion*/

/*#region experience.html*/
.display-zone
{
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
}
.display-zone h3, .display-zone h5
{
    margin: 0;
}
.container
{
    max-width: 30%;
}
/*#endregion*/

/*#region skills.html & contact.html*/
.info-box
{
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
    border: var(--mint) 2px solid;;
    width: fit-content;
    margin-top: 15px;
    margin-bottom: 50px;
}
.info-box ul
{
    padding: 0;
    list-style: none;
}
.info-box li
{
    margin-left: 25px;
    min-width: 150px;
}
.name ul
{
    font-weight: bold;
    list-style: unset;
}
.detail, .detail a
{
    color: var(--mint);
}
/*#endregion*/