/*#region Layout & Variable*/
:root
{
    --mint: #15d8b7;
    --white: #f0f0f0;
    --gray: #161616;
}
*, *::after, *::before
{
    box-sizing: border-box;
    background-color: var(--gray);
    color: var(--white);
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 1.25em;
    margin: 0;
    padding: 0;
}
*::-webkit-scrollbar
{
    visibility: hidden;
}
/*#endregion*/

/* #region Navigation Bar */
.special
{
    color: var(--mint);
}

#background
{
    position: fixed;
    background-color: #0f0f0f;
    top: 65%;
    left: 60%;
    width: 200%;
    height: 200%;
    transform: rotate(45deg);
    z-index: -1;
}

#main-header
{
    width: 100vw;
    position: fixed;
    display: grid;
    grid-template-columns: 30% 70%;
}

#main-header a
{
    padding: 0.25rem 0.25rem;
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
}

#icon
{
    margin-left: 0.75rem;
}

#icon > a
{
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
}

#nav-web
{
    position: relative;
    margin-right: 25px;
    display: flex;
    justify-content: right;
    width: auto;
}

#nav-web > a
{
    width: 150px;
    justify-content: center;
}

#nav-web > a:hover
{
    background-color: var(--mint);
    color: var(--gray);
    font-size: 27.5px;
}

#nav-mobile
{
    display: none;
}
/* #endregion */
