/* #region Layout & Variable */

:root
{
    /* Setting Colors */
    --blue: #b4ddff;
    --lightgrey: #efefef;
    --darkgrey: #8f8f8f;
    --white: #ffffff;
    --black: #161616;
    --yellow: #fff2b7;
}

*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.25em;
    color: var(--black);
}

body
{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--white);
}

html
{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* #endregion */

/* #region Banner */

.banner-container
{
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.banner-container img
{
    width: 100%;
    padding: 0px;
}

/* #endregion */

/* #region Header */

/* #region Web verson nav-bar */

header
{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-grow: 1;
    flex-basis: 1;
    position: sticky;
    top: 0;
    background-color: var(--yellow);
    justify-content: space-evenly;
    z-index: 1;
}

#menu-container
{
    display: none;
}

#nav-list
{
    display: flex;
    grid-auto-flow: column;
    gap: 2rem;
}

.nav-item
{
    border: none;
    background-color: var(--yellow);
    display: flex;
    height: 100%;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.25rem;
    align-items: center;
    transition: 0.5s;
}

/* #region Dropdown */

.dropdown
{
    position: relative;
}

.dropdown-container
{
    width: 13rem;
    position: absolute;
    top: calc(100% + .25rem);
    background-color: var(--white);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    z-index: 1;
}

@media screen and (min-width: 701px)
{
    .dropdown-container
    {
        left: 0;
    }
}

.dropdown-item
{
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem;
    transition: 0.5s;
}

.dropdown.active > .dropdown-header + .dropdown-container
{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* #endregion */

/* #endregion */

/* #region Mobile verson nav-bar */

@media screen and (max-width: 700px)
{
    #nav-list
    {
        display: none;
    }

    .nav-item
    {
        transition: none;
    }

    #menu-container
    {
        display: block;
        position: absolute;
        top: 4.5px;
        right: 2.5%;
    }

    #menu
    {
        border: none;
        background-color: var(--yellow);
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu:hover,
    #menu:active
    {
        background-color: var(--blue);
    }

    .dropdown-container
    {
        right: 0px;
    }
}

/* #endregion */

/* Hover effect */

.nav-item:hover,
#icon:hover,
.dropdown-item:hover
{
    background-color: var(--darkgrey);
    color: var(--white);
    border-radius: 15px;
}

/* #endregion */

/* #region Main Page */

section
{
    margin-top: 4rem;
}

main > .label
{
    background-color: var(--lightgrey);
    width: fit-content;
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 2.5% auto;
    text-align: center;
}

/* #region Showcase */

.showcase-container
{

    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    border-radius: 15px;
    padding: 1rem;
    margin: 1% 10%;
}

.showcase-container .label
{
    width: 100%;
    font-size: 1.25rem;
    font-weight: bold;
    z-index: -1;
}

.divider
{
    height: 4px;
    width: 100%;
    background-color: var(--darkgrey);
    margin: 15px 0 40px;
}

.gif-container
{
    width: 25%;
    min-width: 300px;
    box-sizing: border-box;
}

.gif-container img
{
    width: 100%;
}

/* #endregion */

/* #region AboutUs - Promote */

.promote
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 5%;
}

#banner img
{
    width: 45%;
    padding: 1rem;
}

.promote-container
{
    width: 22.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--yellow);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.promote-container img
{
    width: 5rem;
    align-self: center;
}

.promote-container h1
{
    font-size: 1.5rem;
    padding: 0.75rem 0;
    text-align: center;
}

.promote-container p
{
    font-size: 1.125rem;
    border-radius: 15px;
    padding: 0.75rem;
    text-align: center;
}

.input-area
{
    padding: 0 5rem 2rem 5rem;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-evenly;
}

.input-area input,
.input-area textarea,
.input-area button
{
    margin-top: 15px;
    padding: 15px;
    border-color: var(--grey);
    background-color: var(--lightgrey);
    border: none;
}

#name,
#message,
.input-area button
{
    grid-column: span 2;
}

.input-area button
{
    border: none;
    width: fit-content;
    background-color: var(--darkgrey);
    color: var(--white);
}

#message
{
    min-height: 10rem;
    resize: none;
}

/* #endregion */

/* #endregion */

/* #region Product Pages */

.product
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 2.5%;
    align-content: center;
    justify-content: center;
}

.product .img-label
{
    display: inherit;
    background-color: var(--lightgrey);
    justify-content: center;
    align-content: center;
    margin: 1rem;
    font-size: 2.5rem;
    padding: 0.5rem;
}

.wrapper
{
    min-height: 20rem;
    width: 100%;
    display: inherit;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.product-container
{
    display: inherit;
    padding: 1%;
    margin: 2%;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 25px;
}

.img-container
{
    display: inherit;
    width: 225px;
    height: 225px;
}

@media screen and (max-width: 700px)
{
    .img-container
    {
        display: inherit;
        width: 150px;
        height: 150px;
    }
}

.product-container img
{
    align-self: center;
    width: 100%;
}

.product-container label
{
    margin-top: 1rem;
    font-size: 1.5em;
    align-self: center;
}

/* #endregion */

/* #region Telecom Service Page */

#showcase
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px;
}

.telecomService-container
{
    border: 2px solid;
    border-radius: 25px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 2rem;
}

.telecomService-container > h1
{
    font-size: 1.5rem;
}

.telecomService-container > section
{
    padding: 0.5rem;
}

.telecomService-container img
{
    width: 7.5rem;
}

.telecomService-container #submit
{
    margin-top: 1rem;
}

/* #endregion */

/* #region Footer */

/* #region Information Boxes */

footer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
    background-color: var(--lightgrey);
}

.contact-container
{
    list-style: none;
    height: fit-content;
    width: fit-content;
    max-width: 50%;
    margin: 1% 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
}

#open-hour
{
    flex-direction: column;
    flex-grow: unset;
}

.contact-container .label
{
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.25rem;
    margin-bottom: 1rem;
}

.contact-container li
{
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25rem;
    flex-grow: 1;
}

.contact-container span
{
    text-align: right;
    margin-right: 0.75rem;
    width: 8rem;
    font-weight: 600;
}

.contact-container img
{
    width: 3.5rem;
    max-height: 3.5rem;
    align-self: center;
    margin: 0.75rem;
    border: 2px solid;
    border-radius: 50px;
    padding: 0.5rem;

}

.contact-container a
{
    color: var(--blue);
    font-weight: bold;
}

/* #endregion */

/* #region Contact Form */

#contact-form
{
    width: 100%;
    max-width: none;
    justify-content: center;
    align-content: center;
}

#contact-form > li > .label
{
    font-size: 1rem;
    text-decoration: none;
    margin-bottom: 0.25rem;
}

.contact-container input,
.contact-container textarea
{
    width: 100%;
    justify-self: center;
    padding: 0.5rem;
}

#submit
{
    margin-top: 0.5rem;
    padding: 0.75rem;
    background-color: var(--yellow);
    border: none;
    font-weight: bold;
    transition: 0.5s;
}

#submit:hover
{
    background-color: var(--black);
    color: var(--yellow);
}

/* #endregion */

#copy-right
{
    width: 100%;
    position: relative;
    bottom: 0;
    height: fit-content;
    font-size: 0.9rem;
    padding: 0.25rem;
    margin: 0.5rem;
    background-color: var(--lightgrey);
}

/* #endregion */