/* #region Layout & Variable */

:root
{
    --blue: #81c8cd;
    --white: #ffffff;
    --black: #161616;
}
*, *::after, *::before
{
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.25em;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
*::-webkit-scrollbar
{
    width: 0;
    
}
body
{
    color: var(--black);
    height: 100%;
    width: 100%;
    min-width: 100vh;
    box-sizing: border-box;
}
html
{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

/* #endregion */

/* #region Header */

#big-header
{
    background-color: var(--blue);
    width: 100%;
    height: 7.5vh;
    display: flex;
    position: fixed;
    top: 0;
}
#icon
{
    border: 2px solid red;
}
#nav-list
{
    display: grid;
    grid-auto-flow: column;
    flex-grow: 0.5;
    margin-left: auto;
}
/* Web verson nav-bar */
#big-header a
{
    color: var(--white);
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.75rem;
    margin: auto;
}
#big-header a:hover
{
    background-color: var(--black);
    color: var(--blue);
    border-radius: 15px;
    padding: 0.5rem;
}

/* Small & Mobile verson nav-bar  */

/* #endregion */

/* #region Main */
section
{
    scroll-snap-align: start;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    padding-top: 7.5vh;
}

.special
{
    background-color: var(--blue);
    color: var(--white);
}

#intro
{
    display: grid;
    justify-content: center;
    align-content: center;
}
#intro img
{
    width: 100%;
}
#promote
{
    display: grid;
    grid-template-columns: repeat(4,25%);
}
#promote h1
{
    grid-column: span 4;
    justify-self: center;
    align-self: center;
    font-size: 5rem;
    margin-top: 1rem;
}
.promote-container
{
    grid-area: "Contain";
    border: 5px solid var(--blue);
    border-radius: 15px;
    padding: 2rem;
    display: inherit;
    justify-content: center;
    align-content: flex-start;
    margin: 2.5rem;
}
.promote-container img
{
    justify-self: center;
}
.promote-container h2
{
    color: var(--blue);
    font-size: 2rem;
    padding: 0.75rem 0;
    text-align: center;
}
.promote-container p
{
    background-color: var(--blue);
    border-radius: 15px;
    color: var(--white);
    padding: 0.75rem;
}
#about-us
{
    display: grid;
    grid-template-columns: 50% 50%;
}
#about-us .label
{
    font-size: 3rem;
    font-weight: bold;
    padding: 0.5rem;
}
.contact-container
{
    margin-top: 7.5rem;
    grid-auto-flow: column;
    list-style: none;
    height: fit-content;
    justify-content: center;
    align-content: center;
}
.contact-container li
{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    padding: 0.5rem;
    align-items: center;
}
.contact-container img
{
    width: 2.5rem;
    max-height: 2.5rem;
    align-self: center;
    margin: 0.75rem;
}
#copy-right
{
    grid-column: span 2;
    margin-left: 4rem;
    width: fit-content;
    height: fit-content;
}
/* #endregion */
