/* #region Layout & Variable */

:root
{
    --blue: #008cff;
    --lightgrey: #ececec;
    --darkgrey: #cacaca;
    --white: #ffffff;
    --black: #161616;
}
*, *::after, *::before
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.25em;
    color: var(--black);
}
body
{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
html
{
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}

/* #endregion */

/* #region Header */

#big-header
{
    width: 100%;
    height: 3rem;
    display: flex;
    position: fixed;
    top: 0;
    overflow: visible;
    background-color: var(--lightgrey);
}
#icon
{
    background-color: var(--lightgrey);
    border-radius: 15px;
    padding: 0.5rem;
}
#icon img
{
    height: 3rem;
}
#nav-list
{
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    margin-left: auto;
    margin-right: 3rem;
}
/* Web verson nav-bar */
:where(#big-header a)
{
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.25rem;
    margin: auto;
}
#big-header a:hover, #active-nav
{
    background-color: var(--darkgrey);
    border-radius: 15px;
    padding: 0.5rem;
}

/* #endregion */

/* #region Main */

section
{
    scroll-snap-align: start;
    min-height: 100vh;
    width: 100%;
    padding-top: 4rem;
}

/* #region Showcase */

#showcase
{
    display: flex;
    flex-direction: column;
}
#banner
{
    display: inherit;
    justify-content: center;
    align-content: center;
    width: 100%;
}
#banner img
{
    width: 45%;
    padding: 1rem;
}
#promote
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.promote-container
{
    width: 22.5rem;
    display: inherit;
    flex-direction: column;
    background-color: var(--lightgrey);
    border-radius: 1rem;
    padding: 1rem;
}
.promote-container img
{
    width: 5rem;
    align-self: center;
}
.promote-container h1
{
    font-size: 1.5rem;
    padding: 0.75rem 0;
    text-align: center;
}
.promote-container p
{
    font-size: 1.125rem;
    background-color: var(--blue);
    border-radius: 15px;
    padding: 0.75rem;
}

/* #endregion */

/* #region Product */

#product-category
{
    display: grid;
    grid-template-rows: 10% 90%;
}
#product-category .label
{
    font-size: 2.25rem;
    font-weight: bold;
    margin-left: 2.5rem;
    justify-self: center;
    align-self: center;
}
.showcase-category
{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 7.5rem auto;
    margin: 1rem;
    height: 7.5rem;
}
.showcase-category label
{
    justify-self: center;
    font-size: 1.25rem;
    font-weight: bold;
}
.showcase-header
{
    display: inherit;
    grid-auto-flow: row;
    align-self: center;
    justify-self: center;
}
.showcase-img
{
    height: 6rem;
    justify-self: center;
}
.showcase-area
{
    display: flex;
    flex-direction: row;
    overflow: scroll;
}
.showcase-area div
{
    display: inherit;
    margin: 0.25rem;
}
.showcase-area img
{
    align-self: center;
    justify-self: center;
    width: 5rem;
}
/* #endregion */

/* #region Product Pages */

.product
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 4rem;
    align-content: center;
    justify-content: center;
}
.product .img-label
{
    display: inherit;
    background-color: var(--lightgrey);
    justify-content: center;
    align-content: center;
    margin: 1rem;
}
.product .img-label h1
{
    font-size: 3rem;
    padding: 1rem;
}
.wrapper
{
    min-height: 25rem;
    width: 100%;
    display: inherit;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.product-container
{
    display: inherit;
    padding: 1%;
    margin: 2%;
    box-sizing: border-box;
    flex-direction: column;
    border: 0.125rem solid var(--black);
    border-radius: 25px;
}
.img-container
{
    display: inherit;
    width: 17.5rem;
    height: 17.5rem;
}
.product-container img
{
    align-self: center;
    width: 100%;
}
.product-container label
{
    margin-top: 1rem;
    font-size: 2rem;
    align-self: center;
}

/* #endregion */

/* #region Footer */

footer
{
    display: grid;
    grid-template-columns: 25% 25% 50%;
    height: fit-content;
    padding-top: 2rem;
}
.contact-container
{
    list-style: none;
    height: fit-content;
    justify-content: center;
    min-width: 10rem;
    margin: 1rem 2rem;
}
.contact-container .label
{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.25rem;
}
.contact-container li
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25rem;
}
.contact-container span
{
    text-align: right;
    margin-right: 0.75rem;
    width: 8rem;
    font-weight: 600;
}
.contact-container img
{
    width: 2rem;
    max-height: 2rem;
    align-self: center;
    margin: 0.75rem;
}
.contact-container a
{
    color: var(--blue);
    font-weight: bold;
}

.contact-container .contact-row
{
}
.contact-container input, .contact-container textarea
{
    width: 95%;
    justify-self: center;
    padding: 1rem 0.5rem;
}
#copy-right
{
    grid-column: span 4;
    font-size: 0.9rem;
    padding: 0.25rem;
    margin: 0.75rem;
    background-color: var(--lightgrey);
}

/* #endregion */

/* #endregion */

